body {
    font-family: Arial, sans-serif;
}
  
.titre{
    margin: 5% 3%;
    color: rgb(223, 68, 68); 
    text-align: center;
    width: 80%;
    font-size: 30px;
}
  
.container{
    margin: 5% 5%;
    width: 90%;
    border: 2px solid #a01e1e;
    background-color: #f0f5f1;
    border-radius: 5px;
}
  
ol{
    padding: 2% 15%;
    letter-spacing: 1px;
    font-size: 20px;
}
  
li{
    margin: 1.5% 1.5%;
    cursor: pointer;
}
  
  

  